/LIVE
/Data
PYTHON/*.log

*.log

PYTHON/ScriptInProgress.pyc

*.DS_Store

*.pyc

*.pyc

*.pyc

PYTHON/done.sh

PYTHON/execute.sh

Errors.xlsx

cellCounts.csv

output-20151005.csv

gpw-v4-preliminary-release-2_population_count_2010/ReadMe.docx

gpw-v4-preliminary-release-2_population_count_2010/GL_E_ATOTPOPBT_2010_CNTM.tfw

gpw-v4-preliminary-release-2_population_count_2010/GL_E_ATOTPOPBT_2010_CNTM.tif

*.xlsx

PYTHON/test.py

.dropbox

Icon
azure/credentials.py
Sandbox/plots/*
Sandbox/.ipynb_checkpoints/*
Data analysis/R_Scripts/.Rhistory
UHI-NOAA/1975.csv.gz
UHI-NOAA/GHS_SMOD_POP1975_GLOBE_R2016A_54009_1k_v1_0.geojson
UHI-NOAA/GHS_SMOD_POP1975_GLOBE_R2016A_54009_1k_v1_0/*
UHI-NOAA/GHS_SMOD_POP1975_GLOBE_R2016A_54009_1k_v1_0.zip
*-checkpoint.ipynb
UHI-NOAA/stations.csv
*.zip
color.txt
log.txt
UHI-NOAA/ghcnd-stations.txt
UHI-NOAA/stations_moll.csv
UHI-NOAA/stations_moll_inraster.csv
UHI-NOAA/stations_moll_inraster_pop1975.csv
UHI-NOAA/NOAA_weather_station_data.ipynb.backup
UHI-NOAA/stations_with_nearest_neighbor.csv
UHI-NOAA/stations_with_nearest_neighbor copy.csv
UHI-NOAA/data_1975_with_stations.csv
UHI-NOAA/GHS_POP_GPW42015_GLOBE_R2015A_54009_250_v1_0/*
UHI-NOAA/GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0/*
